.pic-1 {
    background: url("./res/ph1.jpg");
}
.pic-2 {
    background: url("./res/ph2.jpg");

}
.pic-3 {
    background: url("./res/ph3.jpg");
    background-position: 0px;
}
.pic-4{
    background: url("./res/ph4.jpg");
}
.pic-5 {
    background: url("./res/ph5.jpg");
    // background-position: -70px;
}

.pic-6 {
    background: url("./res/ph6.jpg");
}

.pic-7 {
    background: url("./res/ph7.jpg");
    // background-position: -10px -60px;

}

.pic-8 {
    background: url("./res/ph8.jpg");
}

.pic-9 {
    background: url("./res/ph9.jpg");
    background-position: -50px 30px;
    // background-size: 250px !important;

}

.pic-10 {
    background: url("./res/ph10.jpg");
    background-position: -40px 45px;
    background-size: 200px !important;
}

.pic-11 {
    background: url("./res/ph11.jpg");
    background-position: -60px 10px;
    // background-size: 200px !important;
}

.pic-12 {
    background: url("./res/ph12.jpg");
    background-position: -70px 10px;
    // background-size: 200px !important;
}
